@media (max-width: 1030px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 65% center;
    min-height: 550px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-80%, -50%);
  }
  .offers .offer-box .offer-info .heading-bigger {
    font-size: 3rem;
  }
  .special .countdown-container .countdown-counter li {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 991.98px) {
  .home .home-banner .home-banner-text {
    transform: translate(-65%, -50%);
  }
  .special .countdown-container {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  .testimonial .carousel-control-prev {
    left: -1.75rem;
  }
  .testimonial .carousel-control-next {
    right: -1.75rem;
  }
}
@media (max-width: 770px) {
  .home .home-banner .home-banner-text {
    transform: translate(-50%, -50%);
    background-color: rgba(214, 27, 27, 0.2);
    padding: 3rem 5rem;
    color: var(--text-white);
    width: 80%;
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 4rem;
  }
  .home .home-banner .home-banner-text h2 {
    font-size: 1.5rem;
  }
  .home .slider-icon {
    font-size: 2rem;
    font-weight: 500;
  }
  .offers .offer-box .offer-info .heading-bigger {
    font-size: 2.5rem;
  }
  .offers .offer-box .offer-info .offer-title-1 {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .products .up_to_content h2 {
    font-size: 1.15rem;
  }
  .special {
    padding: 4rem 0;
  }
  .special .countdown-container .countdown-counter li {
    padding: 1rem;
    width: 20%;
  }
}
@media (max-width: 575.98px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 50% center;
    min-height: 450px;
  }
  .home .home-banner .home-banner-text {
    text-align: center;
    width: 100%;
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 3rem;
  }
  .home .home-banner .home-banner-text h2 {
    font-size: 1.1rem;
  }
  .home .home-banner .home-banner-text .btn-danger {
    padding: 0.5rem 1.2rem;
  }
  .offers {
    padding-top: 3rem;
  }
  .products .up_to_content h2 {
    font-size: 0.725rem;
  }
  .products .up_to_off img {
    height: 5rem;
  }
  .testimonial .testimonial-wrapper {
    padding: 1rem;
  }
  .testimonial .carousel-control-prev,
  .testimonial .carousel-control-next {
    display: none;
  }
  .testimonial .testimonial-wrapper h3 {
    font-size: 1.4rem;
  }
  .testimonial .testimonial-wrapper span {
    font-size: 0.875rem;
  }
  .testimonial .testimonial-wrapper p {
    font-size: 0.775rem;
  }
}

@media (max-width: 330.98px) {
  .home .home-banner .home-banner-text h1 {
    font-size: 1.7rem;
  }
  .home .home-banner .home-banner-text h2 {
    font-size: 0.8rem;
  }
  .home .home-banner .home-banner-text .btn-danger {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }
  .home .carousel-indicators [data-bs-target] {
    background-color: var(--bg-danger);
    width: 2rem;
    height: 0.212rem;
  }
  .home .slider-icon {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .products .up_to_content h2 {
    font-size: 0.625rem;
  }
  .products .up_to_off img {
    height: 4rem;
  }
}
